<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <title>vue-todolist</title>
      <!-- da aggiungere link font vari -->
      <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
      <link href="" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
  </head>
  <body>
    <!-- contenitore applicazione tot -->
    <div id="tot">
      <!-- contenitore -->
      <div class="container">
       <h1>To Do List ...</h1>
       <div class="aggiungi">
        <!-- contenitore parte aggiunta -->
         <input v-model="nuovaAttivita" @keyup.enter="aggAttivita" type="text" placeholder="Aggiungi un nuovo elemento alla lista">
         <button @click="aggAttivita">ADD</button>
         <button @click="cancAll">DELETE ALL</button>
       </div>
       <!-- contenitore zona lista  -->
       <div class="lista">
         <ul>
           <li class="attivita" v-for="(attivita,index) in attivita">
             <p>{{ attivita }}</p>
             <i @click='cancAttivita(index)'  class="fas fa-times"></i>
           </li>
         </ul>
       </div>
      </div>
    </div>
<!--   link per js e vue.js   -->

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="myscript.js"></script>
  </body>
</html>
