/* generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursive;
    background-image: url('imgsfondo.jpg');
}

/* titolo */
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #f6b013;
}

/* contenitore applicazione generale  */
#tot{
    height: 100vh;
    padding: 40px;
}

.container{
    width: 1000px;
    margin: auto;
}

/* zona agginuta con input text + bottone */
.aggiungi{
    display: flex;
    justify-content: center;
}
/* text */
input{
    font-family: 'Indie Flower', cursive;
    width: 300px;
    height: 30px;
    margin-right: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color:black;
    transition: background .3s;
}
input::placeholder{
    color:black;
}

input:focus{
    outline: none;
}
/* bottone */
button{
    font-family: 'Indie Flower', cursive;
    padding: 5px 10px;
    background-color: #faf31af0;
    border: 1px solid #bbd723;
    border-radius: 5px;
    cursor: pointer;
    color:black;
    transition: background .3s;
    margin-right: 10px;
}
/* zona hover text e bottone*/
input:hover,
button:hover{
    background-color: #fa8f20;
    color:black;
}
/* container lista tot */
.lista{
    margin:20px ;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    height: 35px;
    justify-content: space-between;
    align-items: center;
}
/* elemento */
.element{
    color: black;
    font-family: 'Indie Flower', cursive;
}
.element:hover{
  cursor: pointer;
  border-bottom: 1px solid black;
}
/* i  container del elemento */
.lista i{
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: transform .3s;
}
/* hover sulle croci della cancellazione */
.lista i:hover{
    transform: scale(1.3);
    color: #fa8f20;
}
